.is-disabled {
  color: lightgray;
}

ion-badge {
  width: 50px;
}

.has-margin {
  margin: 20px 10px;
}

.align-right {
  position: absolute;
  right: 76px;
  top: 15px;
}

.range-margin {
  margin-right: 40px;
}

.total-amount {
  position: absolute;
  right: 27px;
}

h1 {
  padding-left: 10px;
}

.total-all-players {
  float: right;
  margin-right: 27px;
}
