<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Games
    </ion-title>
   <ion-button (click)="onCloseGame()" color="medium" slot="end">
     <ion-icon  name="close"></ion-icon>
   </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="currentGame">
  <ion-card  *ngIf="!isPlaying else gameIsPlaying">
    <ion-card-header>
      <ion-card-title>Start new game</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <img src="https://media.giphy.com/media/4QFcVnf41d2Lb5I0MK/source.gif" />
      <ion-button expand="full" color="primary" (click)="startGame()">Press this button to play</ion-button>
    </ion-card-content>
  </ion-card>
  <ng-template #gameIsPlaying>
      <app-select-teams *ngIf="!namesSelected" (namesSelected)="onNamesSelected()"></app-select-teams>
      <app-name-game  *ngIf="namesSelected"></app-name-game>
  </ng-template>
</ion-content>
