<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Teams
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container  *ngIf="!isAddingTeams">
    <ion-list *ngIf="teams">
      <ng-container *ngFor="let team of teams | async">
        <ion-item>
          <ion-label *ngIf="team.players && team.players.length">
            <div class="names">
              <h2><ng-container *ngFor="let player of team.players">{{player.name}} <span>& </span></ng-container></h2>
              <div class="points">Score: {{team.score ? team.score: 0}}</div>
            </div>
<!--            <ion-input *ngIf="godMode" class="has-margin" [(ngModel)]="team.score"></ion-input>-->
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>
